[submodule "themes/hugo-developer-portfolio"]
	path = themes/hugo-developer-portfolio
	url = https://github.com/samrobbins85/hugo-developer-portfolio
[submodule "personal-site/themes/paper"]
	path = personal-site/themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
[submodule "personal-site/themes/bento"]
	path = personal-site/themes/bento
	url = https://github.com/leonardofaria/bento.git
[submodule "personal-site/themes/hugo-academic-master"]
	path = personal-site/themes/hugo-academic-master
	url = https://github.com/sourcethemes/academic-kickstart.git
[submodule "personal-site/themes/academic"]
	path = personal-site/themes/academic
	url = https://github.com/sourcethemes/academic-kickstart.git
